<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-start">
            {{!-- <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40" height="40" />
            --}}
            <div class="w-100">
                <div class="d-flex flex-column mb-3">
                    <h6 class="text-primary fw-bold mb-0">
                        {{createdBy}}
                        <span class="text-dark ms-2">{{text}}</span>
                    </h6>
                    <p class="text-dark mb-0">{{createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
</div>