<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(215, 215, 215, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmiro.medium.com%2Fmax%2F1200%2F0*n-2bW82Z6m6U2bij.jpeg&imgrefurl=https%3A%2F%2Fandy.coffee%2Fteach-your-cat-to-code-ca3cb20dd76f&tbnid=VJ9x7ty1rN1UGM&vet=12ahUKEwi804mPxJ_7AhWFG3cKHaWVAzcQMygIegUIARDHAQ..i&docid=iirz1QjLpnPWRM&w=1200&h=799&q=cat%20programmer&ved=2ahUKEwi804mPxJ_7AhWFG3cKHaWVAzcQMygIegUIARDHAQ">Мемна корпорація</a>
    </div>
    <!-- Copyright -->
</footer>